#header {
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    overflow: visible;
    font-weight: 300;
    margin-top: -4px;
    opacity: 0.850;
	list-style: none;
}

.wrap {
    position: relative;
    margin: 0 auto;
    max-width: 700px;
	width: 92%;
}

.headercontainer {
    width: 100%;
    border: 0px solid black;
    overflow: hidden; /* contains if left is longer than right */;
}

.headerLeft {
    width: 30%;
    height: 100%;
    float: left; /* add this */
    border: 0px solid red;
    display: inline-block;
}

.headerRight {
    border: 0px solid green;
    height: 35%;
    width: 70%;
    overflow: hidden; /* so right doesn't wrap below left */
}

@media #{$break-small} {

	#header {
		position: absolute;
		margin-bottom: 40px;
	}
    
	.headerLeft {
        width: 100%;
		display: block;
		border-bottom: 2px solid #bfbfbf;
		line-height: px;
		float: none;
	}

    .headerRight {
        width: 100%;
		display: block;
        line-height: 10px;
		float: none;
		height: 38px;
    }

    .headerButton {
        margin-top: 4px;
		padding-top: 10px;
        font-size: 16px;
		width: 25%;
	}
	
	.headerButton:hover { border: none; }
}

@media #{$break-medium} {
	
	.headerButton {
		margin-left: 4px;
		margin-right: 4px;
	}
    
    .headerButton { transition: 0s ease; }
}