.about {
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 2px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-top: 5px solid #7a7a7a;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 26px;
    padding-left: 25px;
	padding-right: 25px;
	text-align: center;
    font-weight: 300;
}

.content {
    text-align: justify;
    background-color: #F6F6F6;
    margin: 0px auto;
	margin-top: 90px;
    font-size: 20px;
}

ul.posts {
    list-style-type: none;
	padding: 0;
    
	a {
		color: black;
	}
	
	li {
        padding: 15px;
    }
}


.footer {
    margin-top: 100px;
    margin-bottom: 18px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    font-size: 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

@media #{$break-small} {
	
	.content {
        margin-top: 110px;
    }

    .footer {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}