body {
    margin: 0 auto;
	margin-top: 90px;
    font-size: 20px;
}

.wrap {
    margin: 0 auto;
    max-width: 700px;
    background: #FFF;
    overflow: hidden;
    
    img {
        display: block;
        margin: 0 auto;
        padding: 20px;
    }
}

.about {
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 2px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-top: 5px solid #7a7a7a;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 26px;
    padding-left: 25px;
	padding-right: 25px;
	text-align: center;
    font-weight: 300;
}

.about-third {
    width: 32.95%;
    display: inline-block;
    border: none;
}

ul.posts {
	padding: 0;
    text-align: justify;
   
    
    h1 {
         color: $dark-blue;   
    }
    
	/* The below is abysmal, feel shameful + rewrite when you can */
	li {
        transition: 0.5s ease;
        padding: 15px;
        border-left: 4px solid transparent;
        border-bottom: 1px solid #e0e0e0;
        
        &:first-child {
            padding-top: 1px;   
        }
        
        a {
            color: black;
        }
        
        &:hover {
            border-left: 4px solid $dark-blue;
        }
        
        p {
            a {
		        color: black;
		
		        &:hover {
                    transition: .2s ease;
			        text-decoration: underline;
			        color: $dark-blue;
		        }
            }
        }
    }
}

.bloghead {
    background: $light-gray;
    padding: 30px 20px 20px 20px;
    text-align: center;
    margin-top: -35px;
}

.footer {
    font-size: 15px;
    text-align: left;

    
    .wrap {
        border-top: 1px solid #e8e8e8;
        padding: 15px;
    }
    
    p {
        margin: 0; 
        display: inline-block;   
    }
}

@media #{$break-small} {
	
	body {
        margin-top: 100px;
        font-size: 18px;
    }
    
    .bloghead {
        padding: 20px;
        margin: 0;
    }
}