/*==============================================*\
	STYLESHEET WRITTEN BY RAFFI MAURER
	Twitter:   @RaffiMaurer
	Email:     raffimaurer@gmail.com
\*==============================================*/

body {
    text-align: center;
    margin-top: 50px;
    margin-left: 0px;
    width: 100%;
	font-family: 'Lato', sans-serif;
}

#wrapper {
    display: block;
    border: 0px solid rgb(214, 215, 216);
    width: 100%;
    margin: 0px;
    float: center;
    height: 100%;
}

#header {
    width: 100%;
    height: 60px;
    display: inline-block;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    overflow: visible;
    font-weight: 300;
    padding-top: 5px;
    text-align: centre;
    margin-top: -11px;
    opacity: 0.850;
}

.entry { margin-top: 90px; }
.entry a { color: black; }
.entry a:hover { text-decoration: underline; color: black;}

#content {
    text-align: justify;
    background-color: #F6F6F6;
    margin: 0px auto;
    font-size: 20px;
}

ul.posts {
	list-style-type: none;
	padding: 0px;
	margin-top: 110px;
}

ul.posts a { color: black; }
ul.posts a:hover { text-decoration: underline; color: black;}
li { padding-bottom: 30px; }


#footer {
    margin-top: 100px;
    margin-bottom: 18px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    font-size: 15px;
    text-align: center;
    border-top: 1px dashed #bbbbbb;
}

.title {
    display: none;
}

.wrap {
    position: relative;
    margin: 0 auto;
    width: 700px;
}


/*==============================================*\
	PAGE-SPECIFIC
\*==============================================*/
.about {
    text-align: center;
    font-weight: 300;
}

#about_header {
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 2px solid rgb(216, 216, 216);
    border-left: 1px solid rgb(216, 216, 216);
    border-right: 1px solid rgb(216, 216, 216);
    border-top: 5px solid #7a7a7a;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 26px;
    padding-left: 25px;
	padding-right: 25px;
	overflow: hidden;
}

#about_contact {
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 2px solid rgb(216, 216, 216);
    border-left: 1px solid rgb(216, 216, 216);
    border-right: 1px solid rgb(216, 216, 216);
    border-top: 5px solid #7a7a7a;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 26px;
    padding-left: 50px;
	padding-right: 50px;
	
}

.contactpage {
    height: 100%;
}

/*==============================================*\
	HEADINGS
\*==============================================*/
h1 {  /* Post Title */ 
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

h1 span { font-weight: 300; }
h1:hover { color: #2a92d3; }

h2 { /* Me page cards */
    font-size: 27px;
    text-align: center;
    font-weight: 300;
    color: black;
}

h4 {  /* Post Detail Line */
    font-weight: 300;
    font-size: 15px;
	text-align: left;
	line-height: 10px;
}

h10 { /* Header Title */
    font-size: 25px;
    margin-left: 25px;
    float: center;
    display: inline-block;
}

h100 {  /* Post Separator */
    font-size: 45px;
    color: transparent;
}

a:hover { color: #2a92d3; text-decoration: none; }
a:active{ color: #2a92d3; text-decoration: none;}
a:link 	{ color: black; text-decoration: none; }

p.nocomments {
	/* Hide 'Comments Disabled' message */
    font-size: 1px; visibility: hidden;
}


/*==============================================*\
	HEADER ELEMENTS
\*==============================================*/
.headercontainer {
    width: 100%;
    border: 0px solid black;
    overflow: hidden; /* contains if #left is longer than #right */;
}

#left {
    width: 30%;
    height: 100%;
    float: left; /* add this */
    border: 0px solid red;
    display: inline-block;
}

#right {
    border: 0px solid green;
    height: 35%;
    width: 70%
    overflow: hidden; /* so #right doesn't wrap below #left */
}

.headerpic {
	width: 90px;
	display: inline-block;
	margin-top: 10px;
}


.headerButton {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    border: 0px solid #47a1d9;
	width: 92px;
	text-align: center;

    /* Font styles */
    color: black;
    font-weight: 400;
    font-size: 18px;
	
	/* Animations */
	-o-transition: 		.3s;
	-ms-transition: 	.3s;
	-moz-transition: 	.3s;
	-webkit-transition: .3s;
	transition: 		.3s;
}

.headerButton:hover {
	background: #c2e7f3;
	border-bottom: 4px solid #2a92d3;
}
.headerButton:active { background: #BFBFBF; }


/*==============================================*\
	CONTACT BUTTONS
\*==============================================*/

.contactButton {
	display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    height: 26px;
    border-radius: 5px;
    border: 0px solid #F1F1F1;
    margin: 6px;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}
a.contactButton { color: white; }


#email			{ background: #84ce67; }
#email:hover  	{ background: #a7da92; }
#email:active 	{ background: #5bb935; }

#twitter		{ background: #00acee; }
#twitter:hover  { background: #00C4FF; }
#twitter:active { background: #00a0d1; }

#google			{ background: #db4a39; }
#google:hover	{ background: #e17b6f; }
#google:active	{ background: #be2c1c; }

#linkedin		{ background: #0e76a8; }
#linkedin:hover	{ background: #5ea5c6; }
#linked:active	{ background: #036fa0; }




/*==============================================*\
	ANIMATION ENGINE (move to external stylesheet)
\*==============================================*/

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeInDown {
    0% {	opacity: 0;
    		-webkit-transform: translateY(-20px);}
    100% {	opacity: 1;
    		-webkit-transform: translateY(0);} }

@-moz-keyframes fadeInDown {
    0% {	opacity: 0;
    		-moz-transform: translateY(-20px);}
    100% {	opacity: 1;
    		-moz-transform: translateY(0);} }

@-o-keyframes fadeInDown {
    0% {	opacity: 0;
    		-o-transform: translateY(-20px);}
    100% {	opacity: 1;
    		-o-transform: translateY(0);} }

@keyframes fadeInDown {
    0% {	opacity: 0;
    		transform: translateY(-20px);}
    100% {	opacity: 1;
    		transform: translateY(0);} }

.fadeInDown {	-webkit-animation-name: fadeInDown;
				-moz-animation-name: fadeInDown;
				-o-animation-name: fadeInDown;
				animation-name: fadeInDown; }




/*==============================================*\
	RESPONSIVE STRUCTURE
\*==============================================*/

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
        
    #content {
        margin: 0px;
    }      
    .entry{
        margin-left: 22px;  
        margin-right: 22px;
        margin: 0px;
        font-size: 28px;
    }
    h1{
        font-size: 55px;
    }
    h10{
        padding-bottom: 15px;
    }
    #header {
        height: 127px;
    }
    .wrap{
        width: 93%;   
    }  
    
    #left {
   		 width: 100%;
   		 height: 100%;
  		 float:center; /* add this */
  		 border: 0px solid red;
    }
    
    #right {
        border: 0px solid green;
        height: 100%;
        width: 100%
        overflow: hidden; /* if you don't want #second to wrap below #first */;
	}
}

@media screen and (max-device-width: 320px) and (max-width: 320px) {
    .entry {
        font-size: 45px;
        margin: 0px;
        font-size: 30px;
    };
}

*/   
                                /* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #nav-below {
		border-bottom: 1px solid #ddd;
		margin-bottom: 1.625em;
	}

	.entry {
 	   margin-left: 22px;
 	   margin-right: 22px;
 	   margin: 0px;
 	   font-size: 23px;
 	}

 	h10 {
  	  font-size: 40px;
  	}

  	#header {
	    height: 70px;
	}

	.wrap {
	    width: 93%;
	}
}	

                                    /* Landscape phone to portrait tablet */
@media (max-width: 767px) {
                
    #content {
        margin: 0px;
    }

    .entry {
        margin-left: 22px;
        margin-right: 22px;
        margin: 0px;
    }

    h10 {

    }

    .wrap {
        width: 93%;
    };
}


@media only screen and (max-width: 500px) {

    #left {
        width: 100%;
        float: none;
		border-bottom: 1px solid #bfbfbf;
		line-height: px;
	}

    #right {
        width: 100% auto;
        line-height: 10px;
    }

    .headerButton {
        margin-top: 4px;
		padding-top: 10px;
        font-size: 16px;
        padding-bottom: 0px;
        height: 20px;
		width: 25%;
    }

    #header {
        height: 85px;
    }

	h1 {
		font-size: 16px;
	}

    h10 {
        font-size: 26px;
    }

    hMe {
        font-size: 18px;
        text-align: center;
        font-weight: 300;
        color: black;
    }

    hContact {
        font-size: 22px;
        text-align: center;
        font-weight: 300;
        color: black;
    }

    .about {
        margin-top: 50px;
        height: 140%;
    }

    .contactpage {
        height: 100%;
    }

    .entry {
        margin: 0px;
        font-size: 16px;
    }

    #footer {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
	
	#header {
		position: relative;
	}

    .aboutpage {
        font-size: 15px;
    }
    
    .contactButton {
	    display: block;
	    width: 60%;
	    margin: 0 auto;
	    margin-bottom: 10px;
    }
}

@media screen and (max-width: 622px) {

	h10 {

		margin: 0px;
	}
	
	.headerButton {
		margin-left: 4px;
		margin-right: 4px;
	}
}

@media only screen and (max-width: 250px), only screen and (max-device-width: 481px) {
	
    .headerButton {
        font-size: 14px;
        margin-left: 0px;
        margin-right: 0px;
    }
}