---
layout: default
title: Raffi Maurer &#58; Blog
permalink: /blog/
---
<div class="content" style="background: white !important;">
    <div class="wrap">
        <ul class="posts">
            {% for post in site.posts %}
               <li>
                    <a href="{{ post.url }}">
                         <h1>{{ post.title }}<span> &mdash; {{ post.date | date: "%B %d" }}</span></h1>
                    </a>
                    <p>{{ post.content }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include footer.html %}