---
layout: default
title: Raffi Maurer &#58; Blog
name: Blog
permalink: /blog/
active: blog
---
<div class="content">
    <div class="bloghead">
        <h5>Blog</h5>
        <p>Here you'll find short and long posts on tech, design and development</p>
    </div>
    <div class="wrap">
        <ul class="posts">
            {% for post in site.posts %}
               <li>
                    <a href="{{ post.url }}">
                    <h1>{{ post.title }}<span>{{ post.date | date: "%B %d" }}</span></h1>
                    <p>{{ post.content | strip_html | truncatewords:40, ' [...]' }}</p>
                </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include footer.html %}