/*

BUTTON STYLES
--------------------------------------------------

TABLE OF CONTENTS:
1. .headerButton 	// Buttons appearing in page header
2. .contactButton 	// Buttons appearing in contact area on homepage
	+ various colour variants

*/

.headerButton {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 14px;
    margin: 0px 10px 0px 10px;
    height: 100%;
    border-top: 4px solid transparent;
	width: 5.7em;
	text-align: center;
    color: black;
	font-weight: 400;
    font-size: 18px;
	transition: 0.2s ease;

	&:hover {
		border-top: 4px solid $dark-blue;
		color: #8d8d8d;

		a {
			color: $dark-blue;
			transition: inherit;
		}
	}

	a {
		color: black;
	}
}

.headerButton-selected {
     color: $dark-blue;
     border-bottom: 0.2em solid black;
    
    &:hover {
         color: $dark-blue;   
    }
}

.contactButton {
	display: inline-block;
	padding: 8px;
    border-radius: 0.35em;
    margin: 0.25em;
    font-weight: 400;
    font-size: 0.75em;
	transition: 0.3s;
	border: 0.15em solid #DCDCDC;
	width: 5.5em;

	&:hover {
		border: 0.15em solid #8C8C8C;
	}

	a {
		color: #8C8C8C;
	}
}


@media #{$break-medium} {
	
	.headerButton {
		width: 5em;
		margin-left: 0.25em;
		margin-right: 0.25em;
	}
    
    .headerButton {
        transition: 0s ease;
    }
}


@media #{$break-small} {
    .contactButton {
	    display: inline-block;
	    width: 40%;
	    margin: 0.15;
    }
}