/*

ADDITIONAL RESETS TO NORMALIZE.SCSS
--------------------------------------------------

*/

body {
    margin: 0 auto;
	margin-top: 90px;
    font-size: 20px;
    background-color: #F6F6F6;
}

* {
     box-sizing: border-box;
}

.grid-pad {
    padding: 0;
    margin: 0;
}

.wrap {
    margin: 0 auto;
    max-width: 900px;
    overflow: hidden;
    
    img {
        display: block;
        margin: 0 auto;
        padding: 20px;
    }
}

ul {
   margin: 0;
}

.content {
    margin-top: 55px;
}