body {
	font-family: $serif;
}

p {
	font-size: 1.2rem;					// !!
}

.post__title {
	font-family: $sans-serif;
	display: block;
	&--sub {
		font-family: $sans-serif;
		font-weight: 300;
		font-size: 1.2rem;
	}
}