/*

GLOBAL VARIABLES
--------------------------------------------------

*/


// MEDIA QUERIES

$break-small: "screen and (max-width: 500px)";
$break-medium: "screen and (max-width: 650px)";
$break-large: "screen and (max-width: 830px)";


// COLOURS

$dark-blue: #2C93C4;
$light-grey: #F6F6F6;