<head>
	<title>Raffi Maurer : Blog</title>
	<link rel="stylesheet" type="text/css" href="<?php bloginfo('stylesheet_url'); ?>">
	<link rel="shortcut icon" href="<?php bloginfo('stylesheet_directory'); ?>/favicon.ico" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="code/javascript" src="<?php bloginfo("template_url"); ?>header.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function(){ var location = $(this).parent().parent()
		$('.headerLeft').click(function() { $('body,html').animate({scrollTop:0},800);});});
	</script>
</head>

<body>
	<div id="header" href="#top">
		<div class="wrap">  
			<div class="headercontainer">
        		<div class="headerLeft"><p><h10>Raffi Maurer</h10></p></div>
    			<div class="headerRight">
					<a href="/" class="headerButton">Me</a>
					<a href="/blog.html" class="headerButton">Blog</a>
					<a href="/portfolio.html" class="headerButton">Portfolio</a>
				</div>
			</div>
		</div>
	</div>
</body>
		
	
