<header class="header">
    <div class="wrap">
        <div class="headerLeft">
            <h5>Raffi Maurer</h5>
        </div>
        <div class="headerRight"><nav role="navigation">
            <nav>
                <ul class="navigation">
                    <li class="headerButton"><a href="/">About</a></li>
                    <li class="headerButton"><a href="/blog/">Blog</a></li>
                    <li class="headerButton"><a href="/work.html">Work</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
		
	
