.site__header {
  font-family: $sans-serif;
  border-bottom: 1px solid darken($light-grey, 5%);
}

.site__header__container {
   display: inline-block;
}

.site__title {
  margin-bottom: 0;
  font-weight: 500;
  color: #666666;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0;
  left: 0.7rem;
  text-transform: uppercase;
}

.site__avatar {
  top: 0.5rem;
  height: 2.2rem;
}

.bio__pic {
	width: 100%;
  padding: 0px 70px 0px 70px;
}

.about--large {           // !!
  text-align: center;
  font-size: 180%;
  font-weight: 500;
}