/*

HEADER MODULE
--------------------------------------------------

TABLE OF CONTENTS:
a. .header      // Header container
b. .headerLeft  // Left segment
c. .headerRight // Right segment

*/

.header {
    box-sizing: border-box;
    width: 100%;
    height: 60px;

    ul {
        padding: 0;
    }

    li {
    	list-style: none;
    	display: inline-block;
    }
}

.headerLeft {
    float: left;
    width: 35%;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;

    h5 {
            padding: 5px;
    }
}

.headerRight {
    overflow: hidden;
    width: 65%;
}




@media #{$break-medium} {
    
    .headerLeft {
        width: 38%;
    }

    .headerRight {
        width: 62%;
    }
}

@media #{$break-small} {

    .header {
        margin-top: 0;
    }
    
    .headerLeft {
        width: 100%;
        display: block;
        float: none;
        text-align: center;
    }

    .headerRight {
        width: 100%;
        display: block;
        line-height: 10px;
        float: none;
        height: 38px;
    }

    .headerButton {
        margin-top: 4px;
        padding-top: 10px;
        font-size: 16px;
        width: 25%;
    }
    
    .headerButton:hover { border: none; }
}