/*

PAGE-SPECIFIC STYLES
--------------------------------------------------
*/


// ABOUT PAGE

body {
    border-top: 0.2em solid #929292;
}

.about-details {
    width: 65%;
}

.about-head {
    @extend .animated;
    @extend .fadeInDown;

    padding: 1.25em;
    text-align: center;
    margin: 30px 0.5% 0.5% 10px;

    h3 {
        text-align: left;
        
        strong {
            letter-spacing: 0.04em;
            text-transform: uppercase;
            display: block;
        }

        &:after {
            content: '';
            width: 100%;
            height: 1px;
            display: block;
            margin: 1.5rem auto;
            background-color: #dedede;
        }
    }

    img {
        float: left;
        height: 120px;
        border-radius: 100px;
        border: 2px solid #dedede;
        padding: 0;
        margin: 20px;
    }
}


// BLOG PAGE


.posts {
	padding: 0;

    h1 {
        font-size: 1.4em;

        span {
            font-size: 0.8em;
            display: block;
        }
    }
    
	li {
        transition: 0.5s ease;
        padding: 15px;
        text-align: left;

        a {
            color: inherit;
        }
        
        &:hover {
            background: darken($light-grey, 10%)
        }
    }
}

.bloghead {
    text-align: center;
    padding: 1em;
}

.entry {
    max-width: 770px;
}

@media #{$break-large} {

    .about-details {
        width: 100%;
    }
}


@media #{$break-small} {
    
    body {
        font-size: 1em;
    }

    .about-head {
        h3 {
            text-align: center;
        }

        h5:after {
            content: "he";
        }

        img {
            float: none;
            margin: 0 auto;
        }
    }
}