/*

FOOTER MODULE
--------------------------------------------------

*/

.footer {
    font-size: 0.8em;
    text-align: center;
    padding: 2em;
    
    p {
        margin: 0;
        display: inline-block;   
    }
}