/*

HEADER MODULE
--------------------------------------------------

TABLE OF CONTENTS:
a. .header      // Header container
b. .headerLeft  // Left segment
c. .headerRight // Right segment

*/

.header {
    @extend .wrap;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    box-sizing: content-box;

    h1 {
        font-size: 1.2em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 0 auto;

        a { color: black; }
    }
    img {
        height: 3.3em;
        padding: 0;
        margin: 0 auto;
    }
}

.header__image {
    font-family: $sans-serif;
}

.header__button {
    display: inline-block;
    padding: 0.6em;
    margin: 0.4em 2.2em 0em 0em;
    margin-top: -55px;
    width: 5.7em;
    text-align: center;
    font-weight: 700;
    font-size: 0.9em;
    transition: 0.2s ease;
    text-transform: uppercase;
    background: #2E363C;
    border-radius: 3px;
    color: #FFF;
    float: right;

    &:hover {
        background: $accent;
        color: #fff;
    }

    @media #{$break-medium} {
        margin-top: -45px;
    }

    @media #{$break-small} {
        margin-top: -40px;
    }
}

.header__button--selected {
    @extend .header__button;
    background: $accent;
    
    &:hover { background: #2E363C; }
}