/*

BUTTON STYLES
--------------------------------------------------

TABLE OF CONTENTS:
1. .headerButton 	// Buttons appearing in page header
2. .contactButton 	// Buttons appearing in contact area on homepage
	+ various colour variants

*/

.headerButton {
    display: inline-block;
    padding: 1.1em 0em 0.7em 0em;
    margin: 0em 0.5em 0em 0.5em;
    border-top: 0.2em solid transparent;
	width: 5.7em;
	text-align: center;
	font-weight: 400;
    font-size: 0.9em;
	transition: 0.2s ease;
	text-transform: uppercase;

	&:hover {
		border-top: 0.2em solid $accent;
		color: #8d8d8d;
	}

	a {
		color: black;
		&:hover { color: $accent; }
	}

	@media #{$break-medium} {
		width: 5em;
		margin-left: 0.25em;
		margin-right: 0.25em;
        transition: 0s ease;
    }

	@media #{$break-small} {
        margin-top: 4px;
        padding-top: 10px;
        font-size: 16px;
        width: 25%;
        border: none !important;

        &:hover { border: none }
    }
}

.headerButton--selected {
	@extend .headerButton;
    border-top: 3px solid $accent;
    a { color: $accent; }
}

.contact {
	margin-top: -0.8em;
	padding: 0;

	li {
		display: inline-block;
		padding: 0.3em;
	    margin: 0em 0.7em 0em 0.7em;
	    font-weight: 400;
	    font-size: 0.9em;
		transition: 0.3s;
		border-bottom: 0.1em solid transparent;

		&:hover { border-bottom: 0.1em solid $accent; }

		a { color: #8C8C8C; }

		@media #{$break-small} {
			display: block;
		    width: 50%;
		    margin: 0 auto;
		    margin-bottom: 0.5em;

		}
	}
}