body {
    border-top: 0.2em solid #838383;
    background-color: #FCFCFC;
}

.wrap {
    margin: 0 auto;
    max-width: 42em;
    overflow: hidden;
    
    img {
        display: block;
        margin: 0 auto;
        padding: 20px;
    }
}

.wrap--entry {
    @extend .wrap;
    @extend .entry;
    max-width: 40em;
}

.content {
    margin-top: 55px;
}

.entry {
    padding: 15px;
    text-align: left;

    p {
        font-family: "freight-text-pro", serif;
    }
    
    a {
        color: $accent;
        text-decoration: underline;

        &:hover {
            color: lighten($accent, 10%)
        }
    }
}