/*

ADDITIONAL RESETS TO NORMALIZE.SCSS
--------------------------------------------------

*/

* {
    box-sizing: border-box;
}

body {
    border-top: 0.2em solid #929292;
    font-size: 20px; // What where you thinking?
    background-color: #F6F6F6;
}

.wrap {
    margin: 0 auto;
    max-width: 45em;
    overflow: hidden;
    
    img {
        display: block;
        margin: 0 auto;
        padding: 20px;
    }
}

ul {
   margin: 0;
}

.content {
    margin-top: 55px;
}