/*

GLOBAL VARIABLES
--------------------------------------------------

*/


// MEDIA QUERIES

$break-small: "screen and (max-width: 500px)";
$break-medium: "screen and (max-width: 650px)";
$break-large: "screen and (max-width: 830px)";


// COLOURS

$accent: #F45D5F;
$light-grey: #F6F6F6;


// TYPEFACES

$serif: "freight-text-pro" serif;
$sans-serif: "freight-sans-pro", sans-serif;