<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0 maximum-scale=1.0 user-scalable=no">
    <meta name="description" content="Hi, I'm Raffi Maurer - a young designer, developer and writer from London, UK."/>
    <link rel="author" href="http://plus.google.com/+RaffiMaurer/"/>
    
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <script src="http://localhost:35729/livereload.js"></script>
    <script type="text/javascript" src="//use.typekit.net/rqh4dbw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    {% include favicon.html %}
    {% include analytics.html %}
</head>
    
<body>
    {% include header.html %}
    {{ content }}
</body>
</html>